<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="file://$(find ugv_description)/control/joints.xacro"/>
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <xacro:joints/>
    </ros2_control>

<!--    <gazebo>-->
<!--        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">-->
<!--            <parameters>$(find two_wheels_core)/config/two_wheels_controllers.yaml</parameters>-->
<!--            <parameters>$(find two_wheels_core)/config/gaz_ros2_ctl_use_sim.yaml</parameters>-->
<!--        </plugin>-->
<!--    </gazebo>-->

</robot>
