<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="joints.macro.xacro"/>

    <ros2_control name="DiffDrive" type="system">
        <hardware>
            <plugin>hw_interface/DiffDrive</plugin>
        </hardware>
        <xacro:joints/>
    </ros2_control>

</robot>
